<% if logged_in? %>
  <div class="container">
    <aside class="span4">
      <hr>
      <center>
        Hi <%= current_user.name.capitalize %>, welcome to your photogram app.
      </center>
      <center>
        <%= render 'shared/post_form' %>
      </center>
      <br>
      <center><h3> Recent post are :</h3></center>
      <hr>
      <section id="post-all">
        <%= render 'shared/post_all' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h3>
      <b>
        "Log in up now!"
      </b>
    </h3>
  </div>
<% end %>
