<h1>Chat rooms</h1><div class=" card red"> New version with better ui wil be updated soon</div>

<p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p>

<ul>
  <%= render @chat_rooms %>
</ul>
