<h1>Add chat room</h1>

  <div class="form-group">
    <form class="nifty_form" id="new_article" action="/chat_rooms" accept-charset="UTF-8" method="post">
      <b>Title:</b><br>
      <input class="form-control" type="text" name="title" id="title" />
      <br>
      <div class="card red">press and hold ctrl while selecting multiple user</div>
      <select class="mdb-select colorful-select dropdown-primary" multiple name="users[]">
        <% @users.each do |opt| %>
          <li><option type="checkbox" value=<%= opt.id %> /><%= opt.name %></li>
        <% end %>
      </select>
      <input type="submit" class="btn btn-primary" name="commit" value="Create" data-disable-with="Create" />
    </form>
  </div>
