<% unless current_user?(user) %>
  <div class="container card testimonial-card" style="width:300px">
    <br>

    <div class="avatar mx-auto white"><%= gravatar_for user, size: 50, class:"rounded-circle" %>
    </div>

    <div class="card-body">
        <center><h4 class="card-title"><%= link_to user.name, user %>
        </h4></center>
        <hr>
    </div>
  </div>
<% end %>
