<button class="btn btn-primary relative waves-light" id="myBtn">Upload a new post</button>
<div id="myModal" class="modal">
  <div class="modal-content container elegant-color white-text card-cascade wider card modal-dialog cascading-modal" style="width:550px" style="height:700px !important">
    <% if logged_in? %>
      <center class="">
        <%= form_for @post, html: {multipart: true} do |f| %>
          <div class="field ">
            <br>
            <img id="img_prev" src="#" alt="Upload an image" /><span class="img_prev_fn" style="display: none"><div style="width:300px" class="container red">Required</div></span>
            <br>
            <%= f.file_field :image, onchange: "readURL(this);", class: "btn btn-success image_tag" %>
            <br>
            <%= f.text_area :content, placeholder: "add description to your new post.", :size=>"30", class: "description" %>
            <br>
          </div>
          <%= f.submit "Post", class: "btn btn-primary", id: "submit_form" %>
        <% end %>
    </center>
    <% end%>
    <span class="close card btn btn-danger">&times;</span>
  </div>
</div>
<br>
<hr>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
          .attr('src', e.target.result)
          .width(430)
          .height(200);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
 </script>


<script>
  var modal = document.getElementById('myModal');
  var btn = document.getElementById("myBtn");
  var span = document.getElementsByClassName("close")[0];
  btn.onclick = function() {
      debugger
      $('#post-all').addClass("blur-filter")
      modal.style.display = "block";
  }
  span.onclick = function() {
      modal.style.display = "none";
  }
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>

<script>
  $(document).ready(function(){
      $("#submit_form").click(function(){
        var falsee=0;

        var description = $('.description')[0].value
        if (description  == "") {
          $(".description").css('background', 'red');
          $(".description").show();
          $('.description')[0].placeholder="Please fill it"
          falsee=1;
        }
        else{
          $(".description").css('background', '');
        }

        var image_tag = $('.image_tag')[0].value
        if (image_tag  == "") {
          $(".img_prev_fn").show();
          falsee=1;
        }
        else{
          $(".img_prev_fn").hide();
        }

        if(falsee==1){
          return false;
        }
        return true;
      });
  });
</script>
